
body,h1,h2,h3,h4,h5,h6,div,ul,ol,dl,li,dt,dd,pre,blockquote,table{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    font-family:Helvetica, Tahoma, Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    color: #444;
}
a{
    text-decoration: none;
    color: #2964ac;
}
a:hover{
    text-decoration: underline;
}
a.no_decoration:hover{
    text-decoration: none;
}
li{
    display: block;
}
.clear:after{
    content: '';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}
